In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('../data/data.csv')

In [5]:
df

   Height  Weight Species
0    88.9    48.3     Dog
1    90.2    47.4     Dog
2    82.7    44.8     Dog
3    81.4    48.2     Dog
4    83.5    39.9     Dog
5    76.4    35.4     Cat
6    82.3    40.4     Cat
7    81.1    39.9     Cat
8    79.9    43.2     Cat
9    82.4    45.7     Cat