In [2]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

df=pd.read_csv('../data/data.csv')

In [3]:
y=df.Species.copy()
X=df.copy()
X.drop(['Species'], axis=1, inplace=True)

In [4]:
X

   Height  Weight
0    88.9    48.3
1    90.2    47.4
2    82.7    44.8
3    81.4    48.2
4    83.5    39.9
5    76.4    35.4
6    82.3    40.4
7    81.1    39.9
8    79.9    43.2
9    82.4    45.7

In [5]:
y

0    Dog
1    Dog
2    Dog
3    Dog
4    Dog
5    Cat
6    Cat
7    Cat
8    Cat
9    Cat
Name: Species, dtype: object

In [6]:
clf = GaussianNB()
clf.fit(X,y)

GaussianNB()

In [9]:
pred=clf.predict(pd.DataFrame([[67, 45]], columns = ["Height", "Weight"]))
pred[0]

'Dog'